<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


<div id="exercise">
  <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
  <div>
    <button @click="isVisible = !isVisible">Toggle</button>
    <template v-if="isVisible">
      <p>You either see me ...</p>
      <p>...or me</p>
    </template>
    <template v-show="isVisible">
      <p>You either see me ...</p>
      <p>...or me</p>
    </template>
    <p v-if="isVisible">You either see me ...</p>
    <p v-show="isVisible">...or me</p>

  </div>
  <ul>
    <li v-for="(item, i) in myArray">{{item}} {{i}}</li>
  </ul>
  <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
  <ul>
    <li></li>
  </ul>
  <li v-for="(value, prop, index) in myObject">{{prop}} {{value}} {{index}}</li>
  <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
  <ul>
    <li></li>
  </ul>
  <li v-for="(value, prop, index) in testData" v-if="typeof value == 'object'">
    <template >
      <li v-for="value in testData.data">{{value}}</li>
    </template>
  </li>
  <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
  <ul>
    <li>
    
    </li>
  </ul>
</div>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>